@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.text-stroke {
  color: white;
  text-shadow: -1px -1px 0 #ff4c61, 1px -1px 0 #ff4c61, -1px 1px 0 #ff4c61,
    1px 1px 0 #ff4c61;
  letter-spacing: 2px;
}

.text-stroke-gray {
  color: #f9fafb;
}

.boxShadowcustom {
  -webkit-box-shadow: 0 1px 4px 0 rgba(24, 26, 32, 0.07);
  box-shadow: 0 1px 4px 0 rgba(24, 26, 32, 0.07);
}

.btn {
  @apply py-2 px-6 rounded-lg;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-primary:hover {
  @apply bg-secondary;
}

/* checkbox */

input[type="checkbox"] {
  position: relative;
  border: 1px solid #000;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  opacity: 0.8;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: #000;
  opacity: 1;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.btn-toggle:hover .icon-toggleSlide {
  @apply bg-primary text-white;
}

.btn-toggle:hover .toggletext {
  @apply text-primary;
}

.formWrapper .radio-button[aria-hidden="true"] {
  display: none;
}

/* drawer */

.drawerRight {
  width: 320px !important;
  overflow-y: auto;
}

/* header homepage */

.homepageWrapper .header_wrapper,
.categoryWrapper .header_wrapper {
  position: fixed;
  top: 0;
}

.homepageWrapper .header_wrapper .headerbottom {
  display: none;
}

.ProductdetailWrapper .header_wrapper {
  position: relative;
  animation-name: none;
}

/* slick slider */

.ProductSlider .slick-slide {
  padding: 0 8px;
}
.ProductSlider .slick-list {
  margin: 0 -8px;
}

.detailfeaturedWrapper .slick-dots li {
  margin: 0;
}

.detailfeaturedWrapper .slick-dots li.slick-active button:before,
.detailfeaturedWrapper .slick-dots li button:hover:before,
.detailfeaturedWrapper .slick-dots li button:focus:before {
  @apply text-primary opacity-100;
}

.detailfeaturedWrapper .slick-prev,
.detailfeaturedWrapper .slick-next {
  z-index: 40;
  margin-top: -60px;
}

.detailfeaturedWrapper .slick-prev {
  left: 15px;
}

.detailfeaturedWrapper .slick-next {
  right: 15px;
}

.icon-triangle {
  position: absolute;
  right: 23.5%;
  top: 132px;
  animation: rotate-animation 10s infinite linear;
}

.icon-circle {
  position: absolute;
  right: 17%;
  top: 58%;
  animation: rotate-animation 10s infinite linear;
}

.icon-diagonal {
  position: absolute;
  left: 14%;
  top: 72%;
  animation: rotate-animation 10s infinite linear;
}

.icon-inclined-cross {
  position: absolute;
  left: 16%;
  top: 32%;
  animation: rotate-animation 10s infinite linear;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.srchshadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.tag button.active {
  @apply bg-primary text-white;
}

/* navigation section */

nav > a:first-child,
.srchshadow {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

nav > a:last-child,
.srchshadow {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

nav > a:last-child {
  border-right: none;
}

nav > a:hover h4 {
  @apply bg-primary text-white;
}

nav > a:hover .nav-icon {
  display: none;
}

nav a .nav-text {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all linear 0.2s;
}

nav > a:hover .nav-text {
  display: inline-flex;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* search */

.searchdropdown .reactSelect .react-selectprefixs__control {
  @apply bg-transparent w-56;
}

.searchdropdown .reactSelect .react-selectprefixs__placeholder,
.Sortingselect .reactSelect .react-selectprefixs__placeholder {
  @apply text-black;
}

.searchdropdown .reactSelect .react-selectprefixs__value-container {
  @apply py-2 pl-10;
}

.Sortingselect .reactSelect .react-selectprefixs__control {
  @apply bg-white;
}

/* footer */

.widget ul li {
  position: relative;
  display: block;
  padding-left: 20px;
}

.widget ul li:before {
  position: absolute;
  content: "-";
  left: 0;
  top: 50%;
  font-weight: bold;
  color: rgb(156, 163, 175);
  transform: translateY(-50%);
}

/* detail slider */

.imageGallery_Wrapper .image-gallery-thumbnail.imagegallery_thumbnail {
  border: none;
  opacity: 0.8;
}

.imageGallery_Wrapper .image-gallery-thumbnail.imagegallery_thumbnail.active,
.imageGallery_Wrapper .image-gallery-thumbnail.imagegallery_thumbnail:hover {
  opacity: 1;
}

.imageGallery_Wrapper .image-gallery-icon:hover {
  @apply text-primary;
}

/* youtube video */

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* category page */

.category-link:hover h4 {
  @apply text-primary;
}

@media screen and (max-width: 1024px) {
  .searchdropdown .reactSelect .react-selectprefixs__control,
  .searchdropdown > div {
    @apply bg-gray-100 w-full rounded-lg;
  }

  .searchdropdown .reactSelect .react-selectprefixs__value-container {
    @apply pl-8;
  }
}

@media screen and (max-width: 768px) {
  nav a .nav-text {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all linear 0.2s;
  }

  nav > a:hover .nav-text {
    display: inline-flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }

  nav > a:hover h4 {
    @apply bg-transparent text-black;
  }

  nav > a:hover .nav-icon {
    display: block;
  }
  nav.srchshadow {
    box-shadow: none;
  }

  nav > a {
    border-radius: 8px;
    border: 1px solid #e5e7eb;
  }
  nav > a:last-child {
    border-right: 1px solid #e5e7eb;
  }
  .icon-triangle {
    right: 10%;
    top: 12%;
  }

  .icon-circle {
    right: 17%;
    top: 90%;
  }

  .icon-diagonal {
    left: 14%;
    top: 82%;
  }

  .icon-inclined-cross {
    left: 7%;
    top: 15%;
  }
}
